.container{
    padding-left:24px;
    padding-right:24px;
}
.content{
    margin-top:22px;
}
.title{
    text-align: center;
}
.button-add{
    background-color:#3498db;
    border:none;
    padding:16px;
    color:#fff;
    font-weight: bold;
    border-radius: 6px;
}
.button-add:active{
    background-color:#2980b9 ;
}

/*table*/
.table-content{
    margin-top:20px;
}
.table-content table{
    width:100%;
    border: 1px solid black;
}

